@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
@theme{
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-300: #cbd5e1;
  --color-slate-500: #64748b;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;

  --color-green-50: #f0fdf4;
  --color-green-200: #bbf7d0;
  --color-green-700: #15803d;

  --color-red-50: #fef2f2;
  --color-red-200: #fecaca;
  --color-red-700: #b91c1c;
}

body {
  margin: 0;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-family: system-ui, Arial, sans-serif;
}